* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#Jason {
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}

#Heracles {
  background-color: black;
  box-shadow: 0 1px 0 rgb(255 255 255 / 10%);
  width: 100%;
  height: 50px;
  z-index: 999;
  position: fixed;
}

/* #Medea
{} */

#Merlin {
  font-family: Catamaran, sans-serif;
  background-image: url(../Assets/Parvarti.jpg);
  background-attachment: fixed;
  min-width: 100vw;
  min-height: 100vh;
  color: white;
}

#Shirou {
    animation-duration: 3s;
    animation-name: slidein;}

    @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }

#Romani {
  font-family: Catamaran, sans-serif;
}

#Fujimaru {
  width: 380px;
  height: 550px;
}

#Mashu {
  font-family: Catamaran, sans-serif;
  text-transform: uppercase;
}

/* #Olga
{
} */

/* #Arjuna
{} */

/* #Karna
{} */

#HolyGrailWar {
  font-family: Catamaran, sans-serif;
  text-transform: uppercase;
}

/* #Rasputin
{} */

#Artoria {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
  height: 200px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Diarmud {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
  height: 200px;
  background: #f7f3e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Iskandar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
  height: 200px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Gilles {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
  height: 200px;
  background: #f7f3e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#HundredFace {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
  height: 200px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#EMIYA {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
  height: 200px;
  background: #f7f3e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Cu {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
  height: 200px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Kojiro {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
  height: 200px;
  background: #f7f3e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Medusa {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
  height: 200px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#CursedArm {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
  height: 200px;
  background: #f7f3e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Lostbelt {
  font-family: Catamaran, sans-serif;
  text-transform: uppercase;
}

/* #Anastasia
{} */ ;
